
h1 {
  color: red;
}

/* property : value */


#home-intro{
  text-align: center;
  border: 3px solid blue;

}

#home-intro:hover{
  background-color: burlywood;
}

#p2{
  color: blue;
}

#nav{
  text-align: center;
  background-color: brown;
  height: 25px;
  padding-top: 5px;
  margin-bottom: 5px;
}

#nav a{
  margin: 0px 5px;
  text-decoration: none;
  color: white;
}

#card{
  align-items: center;
  margin-top: 5px;
}

#card-img{
  width: 300px;
  height: 300px;
  align-items: center;
  margin: 0px auto;
}

img{
  width: 300px;
  height: 300px;
}

#action{
  text-align: center;
}
```